*{
    margin: 0;
    padding: 0;
}
body{
    overflow-y:hidden;
    background-color: rgb(199, 255, 232);
}

div {
    &.body{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }
}